/* Import de la font */
@font-face {
	font-family: 'Targa';
	src: url('fonts/Targa\ MS.ttf') format('truetype');
}

/* Responsivité */
html {
	--res: calc(0.01 * 10vmin)
}

/* Paramètres du body */
body {
	margin: 0;
	padding: 0;
	/* Barre scroll horizontal supprimé */
	overflow-x: hidden;
	background-image: url('img/lyon3.jpg');
}

.blocVertical {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

/* Paramètres de toutes les slides */
.slide {
	width: 100vw;
	height: 100vh;
	justify-content: center;
	position: relative;
	align-items: center;
	display: flex;

}

/* Paramètres du bus */
.bus,
#bus {
	width: calc(150 * var(--res));
	height: auto;
	z-index: 5;
	position: fixed;
	top: 70px;
	align-self: center;
	display: flex;
}


/* Paramètres de tous les textes */
h1 {
	font-family: 'Targa';
	font-size: calc(80 * var(--res));
	z-index: 2;
	color: #000000;
	text-align: center;
	justify-content: center;
	display: flex;
}

h2 {
	font-family: 'Targa';
	font-size: calc(80 * var(--res));
	z-index: 3;
	color: #000000;
	text-align: center;
	position: relative;
}


h3 {
	width: 100%;
	font-family: 'Targa';
	font-size: calc(70 * var(--res));
	z-index: 2;
	color: rgba(244, 184, 81, 0.700);
	position: relative;
	top: 140px;
}

h4 {
	font-family: 'Targa';
	font-size: calc(70 * var(--res));
	z-index: 2;
	color: rgba(237, 106, 90, 0.600);
	text-align: center;
	position: relative;
	top: 140px;

}

h5 {
	font-family: 'Targa';
	font-size: calc(70 * var(--res));
	z-index: 2;
	color: rgba(81, 45, 56, 0.600);
	text-align: center;
	position: relative;
	top: 140px;

}

h6 {
	font-family: 'Targa';
	font-size: calc(70 * var(--res));
	z-index: 2;
	color: rgba(135, 186, 171, 0.800);
	text-align: center;
	position: relative;
	top: 140px;
	
}



/* Paramètres des ronds random en slide 3 : noms autres */
.rond {
	border-radius: 15px;
	width: 15px;
	height: 15px;
	background: rgba(244, 184, 81, 1);
	position: absolute;
	z-index: -1;

}

.container {
	width: 50%;
	height: 100vh;
	position: absolute;
	left: 0;
	display: flex;
	top: 0;
}

/* Paramètres des ronds random en slide 3 : noms personnes */
.rond1 {
	border-radius: 15px;
	width: 15px;
	height: 15px;
	background: rgba(237, 106, 90, 1);
	position: absolute;
	z-index: -1;

}

.container1 {
	width: 50%;
	height: 100vh;
	position: absolute;
	left: 0;
	display: flex;
	top: 0;
}

/* Paramètres des ronds random en slide 3 : noms hommes */
.rond2 {
	border-radius: 15px;
	width: 15px;
	height: 15px;
	background: rgba(81, 45, 56, 1);
	position: absolute;
	z-index: -1;

}

.container2 {
	width: 50%;
	height: 100vh;
	position: absolute;
	left: 0;
	display: flex;
	top: 0;
}

/* Paramètres des ronds random en slide 3 : noms femmes */
.rond3 {
	border-radius: 15px;
	width: 15px;
	height: 15px;
	background: rgba(135, 186, 171, 1);
	position: absolute;
	z-index: -1;

}

.container3 {
	width: 50%;
	height: 100vh;
	position: absolute;
	left: 0;
	display: flex;
	top: 0;
}

/* Paramètres des ronds random en slide 3 : noms femmes + hommes */
/* ronds femmes */
.rond4 {
	border-radius: 15px;
	width: 15px;
	height: 15px;
	background: rgba(135, 186, 171, 1);
	position: absolute;
	z-index: -1;

}

.container4 {
	width: 50%;
	height: 100vh;
	position: absolute;
	left: 0;
	display: flex;
	top: 0;
}

/* ronds hommes */
.rond5 {
	border-radius: 15px;
	width: 15px;
	height: 15px;
	background: rgba(81, 45, 56, 1);
	position: absolute;
	z-index: -1;

}

.container5 {
	width: 50%;
	height: 100vh;
	position: absolute;
	left: 0;
	display: flex;
	top: 0;
}

/* loader slide 2 */
.loader::before,
.loader::after {
	content: "12 00 23 40 31 45 60 17 45 32 29 42 50 08 14 07 46 11 03 55";
	font-size: calc(80 * var(--res));
	font-family: 'Targa';
	line-height: 1em;
	height: 1em;
	width: 2ch;
	color: black;
	text-shadow: 0 0 0 #f0d9c6;
	overflow: hidden;
	text-align: center;
	justify-content: center;
	animation: l3 1s steps(20) infinite;
}

.loader::before {
	animation-duration: 1s;
}

@keyframes l3 {
	100% {
		text-shadow: 0 -20em 0 #f0d9c6
	}
}