@font-face {
	font-family: 'Targa';
	src: url('fonts/Targa\ MS.ttf') format('truetype');
}

html {
    --res: calc(0.01 * 10vmin)
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url('img/Background2.jpg');
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

}


h1 {
    font-family: 'Targa';
    font-size: calc(80 * var(--res));
    z-index: 2;
    color: #f0d9c6;
    text-align: center;
    display: flex;
}

h2 {
    font-family: 'Targa';
    font-size: calc(80 * var(--res));
    z-index: 3;
    color: #f0d9c6;
    text-align: center;
}


h3 {
    font-family: 'Targa';
    font-size: calc(80 * var(--res));
    z-index: 2;
    color: #f0d9c6;
    text-align: center;

}

h4 {
    font-family: 'Targa';
    font-size: calc(80 * var(--res));
    z-index: 2;
    color: #f0d9c6;
    text-align: center;

}

h5 {
    font-family: 'Targa';
    font-size: calc(80 * var(--res));
    z-index: 2;
    color: #f0d9c6;
    text-align: center;

}

.bus,
#bus {
    width: calc(150 * var(--res));
    height: auto;
    justify-content: center;
    display: flex;
    z-index: 5;
    position: fixed; top: 70px;    
}

.carre {
    width: 2px;
    height: 2px;
    background : rgba(124, 186, 215, 0.462);
    position: absolute;
    z-index: -1;

}

